spring:
  application:
    name: processo-seletivo-api
  datasource:
    url: ${POSTGRES_URL}/processo-seletivo-db
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: public
  jpa:
    hibernate:
      ddl-auto: validate
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

management:
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState,db

springdoc:
  show-actuator: true
  api-docs:
    enabled: true
  swagger-ui:
    filter: true
    path: /swagger-ui.html

minio:
  url: ${MINIO_URL}
  username: ${MINIO_USERNAME}
  password: ${MINIO_PASSWORD}
  bucket: ${MINIO_BUCKET}

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}

server:
  port: ${SERVER_PORT:26000}

environment: ${ENVIRONMENT:dev}

security:
  secret-key: ${SECRET_KEY:12345}
  issuer: ${ISSUER:processo-seletivo-api}
  cors-domain-allowed: ${CORS_DOMAIN_ALLOWED:http://localhost:*}


